<div class="row">
    <div class="col">
        <div class="label d-inline-block">
            REPERTOIRE
        </div>
        <div class="button">
            <button class="btn btn-outline-light">Check repertoire...</button>
        </div>
    </div>
</div>
<div class="flex">
    <app-cinema-repertoire-card imgSrc="../../../../assets/1.jpg" cardTitle="Sonic 2" cardDesc="The great continuation of Sonic the hegdegog. Sonic and his friends..."></app-cinema-repertoire-card>
    <app-cinema-repertoire-card imgSrc="../../../../assets/1.jpg" cardTitle="Sonic 2" cardDesc="The great continuation of Sonic the hegdegog. Sonic and his friends..."></app-cinema-repertoire-card>
    <app-cinema-repertoire-card imgSrc="../../../../assets/1.jpg" cardTitle="Sonic 2" cardDesc="The great continuation of Sonic the hegdegog. Sonic and his friends..."></app-cinema-repertoire-card>
    <app-cinema-repertoire-card imgSrc="../../../../assets/1.jpg" cardTitle="Sonic 2" cardDesc="The great continuation of Sonic the hegdegog. Sonic and his friends..."></app-cinema-repertoire-card>
    <app-cinema-repertoire-card imgSrc="../../../../assets/1.jpg" cardTitle="Sonic 2" cardDesc="The great continuation of Sonic the hegdegog. Sonic and his friends..."></app-cinema-repertoire-card>
    <app-cinema-repertoire-card imgSrc="../../../../assets/1.jpg" cardTitle="Sonic 2" cardDesc="The great continuation of Sonic the hegdegog. Sonic and his friends..."></app-cinema-repertoire-card>
    <app-cinema-repertoire-card imgSrc="../../../../assets/1.jpg" cardTitle="Sonic 2" cardDesc="The great continuation of Sonic the hegdegog. Sonic and his friends..."></app-cinema-repertoire-card>
    <app-cinema-repertoire-card imgSrc="../../../../assets/1.jpg" cardTitle="Sonic 2" cardDesc="The great continuation of Sonic the hegdegog. Sonic and his friends..."></app-cinema-repertoire-card>
    <app-cinema-repertoire-card imgSrc="../../../../assets/1.jpg" cardTitle="Sonic 2" cardDesc="The great continuation of Sonic the hegdegog. Sonic and his friends..."></app-cinema-repertoire-card>
    <app-cinema-repertoire-card imgSrc="../../../../assets/1.jpg" cardTitle="Sonic 2" cardDesc="The great continuation of Sonic the hegdegog. Sonic and his friends..."></app-cinema-repertoire-card>
    <app-cinema-repertoire-card imgSrc="../../../../assets/1.jpg" cardTitle="Sonic 2" cardDesc="The great continuation of Sonic the hegdegog. Sonic and his friends..."></app-cinema-repertoire-card>
    <app-cinema-repertoire-card imgSrc="../../../../assets/1.jpg" cardTitle="Sonic 2" cardDesc="The great continuation of Sonic the hegdegog. Sonic and his friends..."></app-cinema-repertoire-card>
</div>