<div class="row">
    <div class="col">
        <div class="label d-inline-block">
            WHAT'S ON AT
        </div>
        <div class="selectors">
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="dropdown btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle>Choose your RC</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Bydgoszcz</button>
                    <button ngbDropdownItem>Poznań</button>
                    <button ngbDropdownItem>Rzeszów</button>
                    <button ngbDropdownItem>Sosnowiec</button>
                </div>
            </div>
            <div class="d-inline-block">
                <button class="btn btn-outline-light">GO</button>
            </div>
        </div>
    </div>
</div>