<div class="background">
  <app-header [displayButtons]="displayButtons"></app-header>
  <div class="central-page row">
    <div class="left-side col-6">
      <div class="inner-row">
        <h1 class="headers">
          Sign in
        </h1>
        <div>
          You can sign in using google or your private account
        </div>
      </div>
      <div class="inner-row">
        <h2 class="headers">
          New here?
        </h2>
        <div>
          Don't have an account yet? Register now for free. No credit card information needed.
          <a href="/register"><br> Press HERE to create an account!</a>
        </div>
      </div>
    </div>
    <div class="right-side col-6">
      <div class="inner-row">
        <form (ngSubmit)="tryLogin()"
          [formGroup]="loginForm"
          #formGroupDirective="ngForm">
          <div>
            <label for="login">Login: </label>
            <input id="name" type="text" formControlName="username" value={{username}}>
          </div>
          <div>
            <label for="password">Password: </label>
            <input id="password" type="password" formControlName="password" value={{password}}>
          </div>
          <div class="button-row">
            <a href="#">forgot password?</a>
            <button [disabled]="isLoginButtonDisabled()" type="submit" class="btn btn-outline-light">Login</button>
          </div>
        </form>
      </div>
      <h2 class="breaker headers">OR</h2>
      <div class="breaker " id="gSignInWrapper">
        <span class="label">Sign in with:</span>
        <div id="customBtn" class="customGPlusSignIn" (click)="login()">
          <span class="icon"></span>
          <span class="buttonText">Google</span>
        </div>
      </div>
    </div>
  </div>
</div>