<app-header></app-header>
<div class="body">
    <div class="spacer">

    </div>
    <div class="central-page">
        
        <div class="outer-space row">
            <div class="col-16">
                <div>
                    Rows:
                    <div ngbDropdown class="d-inline-block">
                        <button type="button" class="dropdown btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle>{{selectedRows}}</button>
                        <div ngbDropdownMenu class="short-list" aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem class="dropdown-item" *ngFor="let num of numberArray" (click)="changeSelectedRowNo(num)">{{num}}</button>
                        </div>
                    </div>
                </div>
                <div>
                    Seats in a row:
                    <div ngbDropdown class="d-inline-block">
                        <button type="button" class="dropdown btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle>{{selectedSeats}}</button>
                        <div ngbDropdownMenu class="short-list" aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem class="dropdown-item" *ngFor="let num of numberArray" (click)="changeSelectedSeatNo(num)">{{num}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1 no-padding"> 
                    <!-- *ngIf="selectedSeats? selectedSeats >= 20: true" -->
                    <div *ngFor="let seatRow of seatRows;let i=index;">
                        <div class="row-letter">{{getAplhabetLetter(i)}}</div>
                    </div>
                </div>
                <div class="block col-11  scrollbar scrollbar-near-moon" >
                    <div  [ngClass]="isOverflown? 'letter-row-with-overflow' : 'letter-row-without-overflow'">
                        <div *ngFor="let seatRow of seatRows?.[0];let i=index;" class="col-letter">{{i}}</div>
                    </div>
                    <div *ngFor="let seatRow of seatRows;let i=index;" class="seat-row" id="overflow" [ngClass]="isOverflown? 'with-overflow' : 'without-overflow'">
                        <!-- <div *ngIf="selectedSeats? selectedSeats < 20: false" class="row-letter">{{getAplhabetLetter(i)}}</div> -->
                        <div *ngFor="let seat of seatRow;let j=index;"(click)="switch($event)">
                            <button [ngClass]=" getEquivalent(i, j)? 'btn-primary' : 'btn-secondary'"  class="btn seat" id="seat_{{i}}_{{j}}"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>